body {
  background-color: #72e9ff;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#main {
  display: flex;
  background-color: #5997D3;
  color: #fff;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

a, a:visited, a:active {
  color: #fff;
  text-decoration: none;
}

h1 {
  height: 220px;
  background: url(../images/mozilla-tofino.png) no-repeat;
  background-size: 220px;
  padding-left: 240px;
  font-size: 3.3rem;
  display: flex;
  align-items: center;
  line-height: 3.5rem;
  font-weight: 200;
}

ul {
  margin: 0;
  padding: 0;
}

ul li a {
  padding: 15px 20px;
  display: block;
  font-weight: 300;
}

ul li {
  list-style: none;
  font-size: 2rem;
  color: #fff;
}

ul li:hover {
  background-color: #21f5c1;
}

ul li:hover a {
  color: #111;
}

li:first-child {
  background-color: #0677b2;
}

li:nth-child(2) {
  background-color: #1681b3;
}

li:nth-child(3) {
  background-color: #1c9ec3;
}

li:nth-child(4) {
  background-color: #33b5da;
}

li:nth-child(5) {
  background-color: #4ac8ec;
}

@media (max-width: 555px) {
  h1 {
    height: 150px;
    background-size: 180px;
    font-size: 2.5rem;
    line-height: 2.8rem;
    padding-left: 170px;
    width: 200px;
  }

  li {
    font-size: 1.8rem;
  }
}
