body {
  background-image: url("/images/flickr-tofino-beach-imogenehuxham-9204776628.jpg");
  background-position: center;
  background-size: 1000px;
  background-repeat: no-repeat;
  background-color: #000;
  margin: 0;
  padding: 0;
}

div {
  font-family: courier, helvetica, sans-serif;
}

div#main {
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: px;
  background-color: rgba(0,0,0,0.7);
  opacity: 1;
  color: #efefef;
}

a, a:visited, a:active {
  color: #cdcdcd;
}

.left, .right {
  width: 200px;
/*   border: 1px solid red; */
  opacity: 1.0;
}

.left {
  flex: initial;
  width: 200px;
  height: 200px;
  padding: 0;
  margin: 0;
}

.left img {
  width: 200px;
  height: 200px;
  opacity: 1.0;
}

.right {
  padding-left: 20px;
}

ul li {
  list-style: none;
  margin-left: -38px;
}

div.attribution {
  margin-top: 530px;
  color: #efefef;
  text-align: center;
}
