{
  "extends": "airbnb",

  "parser": "babel-eslint",

  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    }
  },

  "plugins": [
    "react"
  ],

  "rules": {
    "new-cap": ["error", {
      "capIsNewExceptions": ["Immutable.List", "Immutable.Map", "Immutable.Record", "Immutable.Set"]
    }],
    "func-names": ["off"],
    "space-before-function-paren": ["error", "never"],
    "no-param-reassign": ["off"],
    "no-return-assign": ["off"],
    "no-use-before-define": ["off"],
    "eqeqeq": ["error", "allow-null"],
    "lines-around-comment": ["error", {
      "beforeBlockComment": true,
      "afterBlockComment": false,
      "beforeLineComment": true,
      "afterLineComment": false,
      "allowBlockStart": true,
      "allowObjectStart": true,
      "allowArrayStart": true
    }],
    "react/jsx-closing-bracket-location": ["error", "after-props"],
    "react/prefer-es6-class": ["off"],
  }
}
