{
  "extends": [
    "airbnb",
    "plugin:react/recommended",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],

  "parser": "babel-eslint",

  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    }
  },

  "plugins": [
    "import",
    "react",
    "babel"
  ],

  "settings": {
    "import/extensions": [
      ".js",
      ".jsx"
    ],
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    },
    "import/core-modules": [
      "electron"
    ]
  },

  "rules": {
    "new-cap": ["error", {
      "capIsNewExceptions": [
        "Router",
        "Immutable.List",
        "Immutable.Map",
        "Immutable.Record",
        "Immutable.Set"
      ]
    }],
    "arrow-body-style": ["off"],
    "func-names": ["off"],
    "space-before-function-paren": ["error", "never"],
    "no-console": ["error"],
    "no-confusing-arrow": ["off"],
    "no-param-reassign": ["off"],
    "no-return-assign": ["off"],
    "no-unused-vars": ["error", {
      "argsIgnorePattern": "^_",
      "varsIgnorePattern": "^_"
    }],
    "no-underscore-dangle": ["off"],
    "no-use-before-define": ["off"],
    "dot-notation": ["off"],
    "eqeqeq": ["error", "allow-null"],
    "no-continue": ["off"],
    "require-yield": ["off"],

    // See https://github.com/eslint/eslint/issues/6274
    "generator-star-spacing": ["off"],
    "babel/generator-star-spacing": ["error", { before: false, after: true }],

    "react/display-name": ["error", { "ignoreTranspilerName": true }],
    "react/jsx-closing-bracket-location": ["error", "after-props"],
    "react/jsx-indent": ["error", 2],
    "react/jsx-indent-props": ["error", 2],
    "react/jsx-max-props-per-line": ["error", { "maximum": 1 }],
    "react/jsx-equals-spacing": ["error", "never"],
    "react/jsx-first-prop-new-line": ["off"],
    "react/jsx-curly-spacing": ["error", "never"],
    "react/jsx-handler-names": ["error"],
    "react/prefer-es6-class": ["off"],
    "react/prefer-stateless-function": ["off"],

    "import/no-unresolved": ["error", {
      "ignore": ["^electron$", "\\./build-config$", "^logging$"],
      "commonjs": true
    }],
    "import/no-commonjs": ["error"],
    "import/no-amd": ["error"],
    "import/imports-first": ["error"],
    "import/no-named-as-default": ["off"],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "import/prefer-default-export": ["off"]
  }
}
