{
  "extends": [
    "airbnb",
    "plugin:react/recommended",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],

  "parser": "babel-eslint",

  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    }
  },

  "plugins": [
    "flow-vars",
    "import",
    "react"
  ],

  "settings": {
    "import/extensions": [
      ".js",
      ".jsx"
    ],
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    }
  },

  "rules": {
    "new-cap": ["error", {
      "capIsNewExceptions": [
        "Router",
        "Immutable.List",
        "Immutable.Map",
        "Immutable.Record",
        "Immutable.Set"
      ]
    }],
    "func-names": ["off"],
    "space-before-function-paren": ["error", "never"],
    "no-param-reassign": ["off"],
    "no-return-assign": ["off"],
    "no-unused-vars": ["error", {
      "argsIgnorePattern": "^_",
      "varsIgnorePattern": "^_"
    }],
    "no-underscore-dangle": ["off"],
    "no-use-before-define": ["off"],
    "dot-notation": ["off"],
    "eqeqeq": ["error", "allow-null"],
    "lines-around-comment": ["error", {
      "beforeBlockComment": true,
      "afterBlockComment": false,
      "beforeLineComment": true,
      "afterLineComment": false,
      "allowBlockStart": true,
      "allowObjectStart": true,
      "allowArrayStart": true
    }],
    "flow-vars/define-flow-type": 1,
    "flow-vars/use-flow-type": 1,
    "react/display-name": ["error", { "ignoreTranspilerName": true }],
    "react/jsx-closing-bracket-location": ["error", "after-props"],
    "react/jsx-indent": ["error", 2],
    "react/jsx-indent-props": ["error", 2],
    "react/jsx-max-props-per-line": ["error", { "maximum": 1 }],
    "react/jsx-equals-spacing": ["error", "never"],
    "react/jsx-first-prop-new-line": ["off"],
    "react/jsx-curly-spacing": ["error", "never"],
    "react/jsx-handler-names": ["error"],
    "react/prefer-es6-class": ["off"],
    "import/no-unresolved": ["error", {
      "ignore": ["^electron$", "\\./build-config$"],
      "commonjs": true
    }],
    "import/no-commonjs": ["error"],
    "import/no-amd": ["error"],
    "import/imports-first": ["error"],
    "import/no-named-as-default": ["off"]
  }
}
