language: cpp
os:
  - osx
  - linux
osx_image: xcode7.2
sudo: required
dist: trusty

cache:
  directories:
    - node_modules

addons:
  artifacts:
    aws_access_key:
      secure: px32ocviEanI3gclkLdPJzNigtt+WRJLJ3wQfc/VgdDGEKLDC1ibGm3kyiqmIql24/YUM7gd4mx7UQ9cEEr38fNRkK8hO92aO0ztOteBkkKmMiLyfV/AloPqfeaZI7iD3d45KeNTAyg23EnoNS7JBJHrcMwNoM3VC+P5p8CVKtXzzk3ejEstRmoRh73zbAXYkXBd7s7rRHjcgyPMqE8uJjdTcG9i1yiV9k8ANjDqWsd6eNEzh4rteKPnxlJeTc+4gRCDmj0pxbOKLb69b9DXqqVEKtmYvr7aV403bA9F7ES7VAqfLLJ1ON+6P0FWoKYPH0I3lB+UOnnYscQHIBMyq304b+tFZEGsBcK8Zqw4iqxjAl4XVS2ft6kEimeZ5mzLkIw7vS9D3epBZTsyAKX/2teas4QaD6V2JNFj4QEbZSLg3CO7wqtlbYsli3Voworsc1KOyo+j3AweAjTLUmv3oFTfbO+MRM4HXMV0jQntSuMas3vOfyUZ/sRwuFhMNUTqmYmIEhAQDaqNDkQwXakxZ960KTWutqM6PuVLT7g41yx15HCvJDn2Jvd3ue4GB09wPZ2PLt84AQGK9dRuBym56X2I9dDV1SzslNr3wsfMID4Fgk2XBNbeKpmjI5h5koN+mwHcmfMfB2XHoXbO5qG7vJc3J5f/K/AaLQ5fL4rxisQ=
    aws_secret_key:
      secure: bFW29iR16H1HX0kzbzo1cnSPvrp3Caxk+U346Yym6s1n9t/9Gp6s95PSn4kWu45fp6/lctRUU6jol8d7K30mfm82/hSqbvh1yr/tICrSF8HZg9YxLZPK9NxZC+a6Fie39WBO9Vt7faE20VltUlHFhw1ucK9mHzouQRO1Vl51LEImJaiXx7JKym7Rw/YHAa9jDnn5mwM4cW6Rca+I8GL05rXcRnGJA39YE2v0mih7pHE/BQ+HbYz6gymdPf2ZyXb+m4TD61cNHgqcQKMS154Fkflm+dQ+v0ViPUMDgSvPeMGu1WzA8u+ORI2pMFQympVEtTG/6AqHsF3dvfUvSULuNUZ55IBveq3fXHrVL2UJR1Q1ovokOSK2/w4fo75xjMvbIbwWoqCGKyfJZHOxF7pdELDSaHl85MglK8xPCYH4Flxj2gAEYzVQzuXOmYyGKl3Vn9ArJs/gXLsghtzP6z7shA3j+vrIGyO6qprS6RHzf/j/njAR66lPpvZKPvwJvsf/gmqNpM6d/7St+yJbkpnse8n/Nu+xQziI3LntRnPy8KeRVDD1aCJXkn/w8y/v5eksdzZm1cqheIOsT9mfT7EVeVr2TAR+Nsfr2Slf2LcleYh7igNsh3bptyX7LdWTyIkOgypCmBGKIrAR5lINImAmLaPZLWKOaCoH/72DFZMd3hM=
    s3_bucket:
      secure: yOwR+kXPsGBRngo/WetjJoeHSgMwxnKXvQBj2+hj2CGSv3sInGWAxUvagG9uq8l6c9YruBYankljZtspbbgiHooyRATC4Bv2FEVEEZWQKipVt0s7yRvLH1EOLz2PZO61LNGQsrS8PwujO5F77kf4/HcOlxljk/O2gLtDiP9+4upHWcgOMOfvaOpMOc7t0cnTjyvhfcabHH3Pv56tWdJBvOhQAai+LAiUkdsmjH1fnAplxiYnTWbGVlsvr8bn1zqZNIx5ZnmxGjOiEVnZyLY3QfbyhsthGPiKKumMV7fgUYX79suM+rjLw7kDYn3q1kEGIPw88k7LYYzx/uftprAcfmScSns5G9uGThR+0jUvAL24zwaQh4USrLb8ru+OCt6N0/P/Pk/YlpVms27dl9DbopdOWARFLCwK/Sdwki2/g7u2VJv/BBCCYZ7G3te66rhy+o/UKBhb4UpjJGusbxwfHMu8v0tpwWsTQjX4XKbz8VvixkT//C+DrqFlJ6w04+ohW0hI4ejCoHRF7xEKgPZfnxEVtBYfvJSwgFky0bw3Dl1xuwWQ7KSLIu6VfSTDo7dU7TGYFOjJ/Gt6SsL7GKstp1pGO7lSyR5RyiQcaM1G08MmWNLwlcxgoaFMbmbAX01mItODlUTN8riW5lMixGxuJhFvpMGTKLBaz1gR04hJHVs=
    paths: $(cd dist && ls *.zip | tr "\n" ":")
    working_dir: dist
    target_paths: mozilla/tofino/builds
    permissions: public-read

before_install:
  - "export DISPLAY=:99.0"
  - source scripts/bootstrap.sh
  - sleep 3

install:
  - nvm --version
  - nvm install 6.1
  - node --version
  - npm --version
  - npm install --progress false --depth 0
  - npm prune

script:
  - npm test

after_success:
  - npm run package
  - npm run coverage

branches:
  only:
    - master
