language: cpp
os:
  - osx
  - linux
osx_image: xcode7.2
sudo: required
dist: trusty

cache:
  directories:
    - node_modules

before_install:
  - "export DISPLAY=:99.0"
  - scripts/bootstrap.py
  - sleep 3

install:
  - nvm --version
  - nvm install 5.9
  - node --version
  - npm --version
  - npm install --progress false --depth 0

script:
  - npm test

after_success:
  - npm run package
  - npm run coverage

branches:
  only:
    - master
