language: cpp
os:
  - osx
  - linux
osx_image: xcode7.2
sudo: required
dist: trusty

before_install: scripts/bootstrap.py
install:
  - nvm --version
  - nvm install 5.9
  - node --version
  - npm --version
  - npm install --progress false --depth 0

script:
  - npm test

after_success: npm run coverage

branches:
  only:
    - master



