body {
  background-color: var(--theme-body-color);
  background-image: url('../assets/chrome-background.png');
  background-size: 28px;
}

#content-container {
  flex-direction: column;
  box-sizing: border-box;
  overflow: auto;
  width: 100%;
  height: 100%;
  padding: 10px 10% 0px 10%;
  background-color: var(--theme-about-page-background);
  color: var(--theme-content-color);
  font-size: 12px;
}

a {
  text-decoration: none;
  color: #000;
 }

#list {
  list-style-type: none;
  padding-top: 1em;
}
#list li {
  padding: 0.4em 1em 0.4em 0.6em;
}
#list li:nth-child(odd) {
  background-color: rgba(255,255,255,0.5);
}
#list li:nth-child(even) {
  background-color: rgba(255,255,255,0.6);
}
#list li:hover {
  background-color: rgba(255,255,255,0.7);
}
