:root {
  /* Content */

  --theme-content-background: #fff;
  --theme-content-color: #222;

  --theme-content-border-color: rgba(128,128,128,0.5);
  --theme-content-selected-border-color: #2a86e3;
}
