html, body {
  height: 100%;
}

body {
  margin: 0;
  /* Use a default system font in the entire application */
  font: 11px BlinkMacSystemFont, sans-serif;
  text-rendering: geometricPrecision;
}

div {
  display: flex;
}

[hidden] {
  display: none !important;
}

:focus {
  outline-style: none;
}
