:root {
  --theme-window-background: #2f4e78;
  --theme-window-image-tile-size: 23px;

  --theme-content-color: #fff;
  --theme-content-color-alt: #2d9cdb;
  --theme-content-selected-color: #fff;
  --theme-content-border-color: #2f4e78;

  --theme-selection-color: #b3dbf2;

  --theme-tab-background: #2d9cdb;
  --theme-tab-color: #fff;
  --theme-tab-opacity: 1;

  --theme-tab-inactive-background: transparent;
  --theme-tab-inactive-color: #fff;
  --theme-tab-inactive-opacity: 0.9;

  --theme-navbar-background: #2d9cdb;

  --theme-locationbar-background: rgba(255,255,255,0.25);
  --theme-locationbar-border-color: rgba(255,255,255,0.75);
  --theme-locationbar-border-width: 2px;
  --theme-locationbar-title-color: rgba(0,0,0,1);

  --theme-back-button-background: transparent;
  --theme-back-button-border-color: #fff;
  --theme-back-button-border-width: 2px;

  --theme-separator-color: #fff;

  --theme-default-roundness: 3px;
}
