#browser-navbar {
  display: flex;
  flex-direction: row;

  height: 34px;
  padding: 0 5px;
  font-size: 15px;
  font-weight: 100;
  background: #fcfcfc;
  border-bottom: 1px solid #aaa;

  /* Makes electron app draggable */
  -webkit-app-region: drag;
}

#browser-navbar a, #browser-navbar input {
  -webkit-app-region: no-drag;
}
