html, body {
  height: 100%;
}

#browser-container {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  /* Use the default system font in the entire application */
  font: 11px BlinkMacSystemFont, sans-serif;
}
